@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '../Common/NavigationBar/react-sidenav.css';




body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.header {
	background-color: #282c34;
	min-height: 5vh;
	display: flex;
	padding: 10px
}

.header-logo {
	color: white;
	vertical-align: center;
}

.footer {
	background-color: #282c34;
	min-height: 5vh;
	display: flex;
	/*position: fixed;*/
	bottom: 0;
	color: white;
}

.footer-link {
	width: 100%;
	padding: 10px;
}

.footer-link a {
	margin-left: 10px;
	background: white;
	font-size: large;
	font-weight: bold;
	padding: 2px;
}

.comp-i {
	color: red;
}

.comp {
	color: black;
}

.main-container {
	flex-flow: column;
	height: 100%;
	padding-left: 0;
	margin-left: 0;
}

.App-navigation {
	background-color: #282c34;
	margin: 0;
	padding: 0;
}

.content-container {
	padding: 10px;
	min-height: 90vh;
}
